.workouts-header {
    margin: 50px 0 30px 0;
    text-align: center;
}

/* .workouts-col {
    
} */
 
.exercise-card {
    background-color: var(--ligh-color) !important;
    margin: 0 0 20px 30px;
    width: 18rem;
    border: 1px solid var(--dark-color-transparent);
    border-radius: 10px;
}

.exercise-body {
    background-color: transparent;
    border:none;
}

.exercise-card-btn,
.exercise-card-btn:active {
    background-color: var(--dark-color) !important;
    border:none;
    margin-left: 1%;
}

.exercise-card-btn:hover {
    background-color: var(--dark-color-transparent) !important;
}

.accent-btn,
.accent-btn:active {
    background-color: var(--accent-color-oran) !important;
    border: none;
}

.accent-btn:hover {
    background-color: var(--accent-color-oran-transparent) !important;
}

.modal-dialog {
    top: 100px;
}

.modal-btn {
    font-size: .85rem;
    padding: 5px;
    margin: 7px 10px 0 0;
}