.exercise-card {
    background-color: var(--accent-color-yel) !important;
    color: white;
    margin-bottom: 20px;
    width: 18rem;
}

.exercise-card-btn {
    background-color: #f78605;
    border-color: var(--accent-color-oran);
    margin-left: 1%;
}

.exercise-card-btn:hover {
    background-color: #e17c09;
    border-color: var(--accent-color-oran);
}
