.log {
    margin-top: 120px;
}

span.accent-color {
    color: var(--accent-color-oran);
}

/* media queries for responsiveness */
@media (max-width:991px) {
    .log h2 {
        text-align: center;
        margin: 3% 5%;
    }
}