.sidebar {
    margin-top: 70px;
}

.sidebar-col {
    border-right: 1px solid black;
}

.sidebar h5 svg {
    font-size: 25px;
    margin-left: 5px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  
  .sidebar h5:hover svg {
    margin-left: 15px;
  }



/* 
.sidebar .dropdown-title {
    color: var(--dark-color);
    margin: 15px 0 0 -10px;
}

.dropdown-item {
    color: var(--dark-color);
}

@media screen and (max-width: 991px) {
    .sidebar {
        margin-top: 50px;
        border: none;
    }
    .sidebar-col {
        text-align: center;
        border: none;
    }
} */