.sidebar {
    margin: 70px 25px 0 -25px;
    border-right: 1px solid black;
}

.sidebar .dropdown-title {
    color: var(--dark-color);
    margin-left: -10px;
}

.dropdown-item {
    color: var(--dark-color);
}