.sidebar {
    margin-top: 70px;
}

.sidebar-col {
    border-right: 1px solid black;
}

.sidebar .dropdown-title {
    color: var(--dark-color);
    margin: 15px 0 0 -10px;
}

.dropdown-item {
    color: var(--dark-color);
}

@media screen and (max-width: 991px) {
    .sidebar {
        margin-top: 50px;
    }
    .sidebar-col {
        text-align: center;
    }
}